{"swagger":"2.0","info":{"description":"\u672c\u5e73\u81fa\u63d0\u4f9b\u81fa\u7063\u8b49\u5238\u4ea4\u6613\u6240\u670d\u52d9API\uff0c\u6b61\u8fce\u5404\u4f4d\u4ecb\u63a5\u4f7f\u7528\u3002<br><br>[\u4f7f\u7528\u689d\u6b3e](https://www.twse.com.tw/zh/page/terms/use.html)  [\u6388\u6b0a\u8aaa\u660e\u7db2\u5740](https://data.gov.tw/license)","version":"1.0","title":"\u81fa\u7063\u8b49\u5238\u4ea4\u6613\u6240 OpenAPI"},"host":"openapi.twse.com.tw","basePath":"/v1","tags":[{"name":"\u516c\u53f8\u6cbb\u7406"},{"name":"\u8b49\u5238\u4ea4\u6613"},{"name":"\u8ca1\u52d9\u5831\u8868"},{"name":"\u6307\u6578"},{"name":"\u6b0a\u8b49"},{"name":"\u5176\u4ed6"},{"name":"\u5238\u5546\u8cc7\u6599"}],"schemes":["https"],"paths":{"/opendata/t187ap46_L_21":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8077\u696d\u5b89\u5168\u885b\u751f","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8077\u696d\u5b89\u5168\u885b\u751f(\u81fa\u7063\u8b49\u5238\u4ea4\u6613\u6240)","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u8077\u696d\u707d\u5bb3\u4eba\u6578\u53ca\u6bd4\u7387-\u4eba\u6578":{"type":"string","description":"\u8077\u696d\u707d\u5bb3\u4eba\u6578\u53ca\u6bd4\u7387-\u4eba\u6578"},"\u8077\u696d\u707d\u5bb3\u4eba\u6578\u53ca\u6bd4\u7387-\u6bd4\u7387":{"type":"string","description":"\u8077\u696d\u707d\u5bb3\u4eba\u6578\u53ca\u6bd4\u7387-\u6bd4\u7387"},"\u706b\u707d\u4ef6\u6578(\u4ef6)":{"type":"string","description":"\u706b\u707d\u4ef6\u6578(\u4ef6)"},"\u706b\u707d\u6b7b\u50b7\u4eba\u6578(\u4eba)":{"type":"string","description":"\u706b\u707d\u6b7b\u50b7\u4eba\u6578(\u4eba)"},"\u706b\u707d\u6b7b\u50b7\u4eba\u6578\u5360\u54e1\u5de5\u7e3d\u4eba\u6578\u6bd4\u7387":{"type":"string","description":"\u706b\u707d\u6b7b\u50b7\u4eba\u6578\u5360\u54e1\u5de5\u7e3d\u4eba\u6578\u6bd4\u7387"}}}}}}},"/opendata/t187ap45_L":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u80a1\u5229\u5206\u6d3e\u60c5\u5f62","description":"\u4e0a\u5e02\u516c\u53f8\u80a1\u5229\u5206\u6d3e\u60c5\u5f62","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6c7a\u8b70\uff08\u64ec\u8b70\uff09\u9032\u5ea6":{"type":"string","description":"\u6c7a\u8b70\uff08\u64ec\u8b70\uff09\u9032\u5ea6"},"\u80a1\u5229\u5e74\u5ea6":{"type":"string","description":"\u80a1\u5229\u5e74\u5ea6"},"\u80a1\u5229\u6240\u5c6c\u5e74(\u5b63)\u5ea6":{"type":"string","description":"\u80a1\u5229\u6240\u5c6c\u5e74(\u5b63)\u5ea6"},"\u80a1\u5229\u6240\u5c6c\u671f\u9593":{"type":"string","description":"\u80a1\u5229\u6240\u5c6c\u671f\u9593"},"\u671f\u5225":{"type":"string","description":"\u671f\u5225"},"\u8463\u4e8b\u6703\uff08\u64ec\u8b70\uff09\u80a1\u5229\u5206\u6d3e\u65e5":{"type":"string","description":"\u8463\u4e8b\u6703\uff08\u64ec\u8b70\uff09\u80a1\u5229\u5206\u6d3e\u65e5"},"\u80a1\u6771\u6703\u65e5\u671f":{"type":"string","description":"\u80a1\u6771\u6703\u65e5\u671f"},"\u671f\u521d\u672a\u5206\u914d\u76c8\u9918/\u5f85\u5f4c\u88dc\u8667\u640d(\u5143)":{"type":"string","description":"\u671f\u521d\u672a\u5206\u914d\u76c8\u9918/\u5f85\u5f4c\u88dc\u8667\u640d(\u5143)"},"\u672c\u671f\u6de8\u5229(\u6de8\u640d)(\u5143)":{"type":"string","description":"\u672c\u671f\u6de8\u5229(\u6de8\u640d)(\u5143)"},"\u53ef\u5206\u914d\u76c8\u9918(\u5143)":{"type":"string","description":"\u53ef\u5206\u914d\u76c8\u9918(\u5143)"},"\u5206\u914d\u5f8c\u671f\u672b\u672a\u5206\u914d\u76c8\u9918(\u5143)":{"type":"string","description":"\u5206\u914d\u5f8c\u671f\u672b\u672a\u5206\u914d\u76c8\u9918(\u5143)"},"\u80a1\u6771\u914d\u767c-\u76c8\u9918\u5206\u914d\u4e4b\u73fe\u91d1\u80a1\u5229(\u5143/\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u76c8\u9918\u5206\u914d\u4e4b\u73fe\u91d1\u80a1\u5229(\u5143/\u80a1)"},"\u80a1\u6771\u914d\u767c-\u6cd5\u5b9a\u76c8\u9918\u516c\u7a4d\u767c\u653e\u4e4b\u73fe\u91d1(\u5143/\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u6cd5\u5b9a\u76c8\u9918\u516c\u7a4d\u767c\u653e\u4e4b\u73fe\u91d1(\u5143/\u80a1)"},"\u80a1\u6771\u914d\u767c-\u8cc7\u672c\u516c\u7a4d\u767c\u653e\u4e4b\u73fe\u91d1(\u5143/\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u8cc7\u672c\u516c\u7a4d\u767c\u653e\u4e4b\u73fe\u91d1(\u5143/\u80a1)"},"\u80a1\u6771\u914d\u767c-\u80a1\u6771\u914d\u767c\u4e4b\u73fe\u91d1(\u80a1\u5229)\u7e3d\u91d1\u984d(\u5143)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u80a1\u6771\u914d\u767c\u4e4b\u73fe\u91d1(\u80a1\u5229)\u7e3d\u91d1\u984d(\u5143)"},"\u80a1\u6771\u914d\u767c-\u76c8\u9918\u8f49\u589e\u8cc7\u914d\u80a1(\u5143/\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u76c8\u9918\u8f49\u589e\u8cc7\u914d\u80a1(\u5143/\u80a1)"},"\u80a1\u6771\u914d\u767c-\u6cd5\u5b9a\u76c8\u9918\u516c\u7a4d\u8f49\u589e\u8cc7\u914d\u80a1(\u5143/\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u6cd5\u5b9a\u76c8\u9918\u516c\u7a4d\u8f49\u589e\u8cc7\u914d\u80a1(\u5143/\u80a1)"},"\u80a1\u6771\u914d\u767c-\u8cc7\u672c\u516c\u7a4d\u8f49\u589e\u8cc7\u914d\u80a1(\u5143/\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u8cc7\u672c\u516c\u7a4d\u8f49\u589e\u8cc7\u914d\u80a1(\u5143/\u80a1)"},"\u80a1\u6771\u914d\u767c-\u80a1\u6771\u914d\u80a1\u7e3d\u80a1\u6578(\u80a1)":{"type":"string","description":"\u80a1\u6771\u914d\u767c-\u80a1\u6771\u914d\u80a1\u7e3d\u80a1\u6578(\u80a1)"},"\u6458\u9304\u516c\u53f8\u7ae0\u7a0b-\u80a1\u5229\u5206\u6d3e\u90e8\u5206":{"type":"string","description":"\u6458\u9304\u516c\u53f8\u7ae0\u7a0b-\u80a1\u5229\u5206\u6d3e\u90e8\u5206"},"\u5099\u8a3b":{"type":"string","description":"\u5099\u8a3b"}}}}}}},"/opendata/t187ap46_L_20":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u53cd\u7af6\u722d\u884c\u70ba\u6cd5\u5f8b\u8a34\u8a1f","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u53cd\u7af6\u722d\u884c\u70ba\u6cd5\u5f8b\u8a34\u8a1f\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u56e0\u8207\u53cd\u7af6\u722d\u884c\u70ba\u689d\u4f8b\u76f8\u95dc\u7684\u6cd5\u5f8b\u8a34\u8a1f\u800c\u9020\u6210\u7684\u91d1\u9322\u640d\u5931\u7e3d\u984d(\u4edf\u5143)":{"type":"string","description":"\u56e0\u8207\u53cd\u7af6\u722d\u884c\u70ba\u689d\u4f8b\u76f8\u95dc\u7684\u6cd5\u5f8b\u8a34\u8a1f\u800c\u9020\u6210\u7684\u91d1\u9322\u640d\u5931\u7e3d\u984d(\u4edf\u5143)"}}}}}}},"/opendata/t187ap46_L_19":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98a8\u96aa\u7ba1\u7406\u653f\u7b56","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98a8\u96aa\u7ba1\u7406\u653f\u7b56\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u91cd\u5927\u4e8b\u4ef6\u4e4b\u98a8\u96aa\u7ba1\u7406\u653f\u7b56":{"type":"string","description":"\u91cd\u5927\u4e8b\u4ef6\u4e4b\u98a8\u96aa\u7ba1\u7406\u653f\u7b56"},"\u8207\u4f7f\u7528\u95dc\u9375\u6750\u6599\u76f8\u95dc\u7684\u98a8\u96aa\u7ba1\u7406\u4e4b\u63cf\u8ff0":{"type":"string","description":"\u8207\u4f7f\u7528\u95dc\u9375\u6750\u6599\u76f8\u95dc\u7684\u98a8\u96aa\u7ba1\u7406\u4e4b\u63cf\u8ff0"}}}}}}},"/opendata/t187ap46_L_18":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6301\u80a1\u53ca\u63a7\u5236\u529b","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6301\u80a1\u53ca\u63a7\u5236\u529b\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u524d10\u5927\u80a1\u6771\u6301\u80a1\u60c5\u5f62":{"type":"string","description":"\u524d10\u5927\u80a1\u6771\u6301\u80a1\u60c5\u5f62"}}}}}}},"/opendata/t187ap46_L_17":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u666e\u60e0\u91d1\u878d","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u666e\u60e0\u91d1\u878d\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u5c0d\u4fc3\u9032\u5c0f\u578b\u4f01\u696d\u53ca\u793e\u5340\u767c\u5c55\u7684\u8cb8\u653e\u4ef6\u6578(\u4ef6)":{"type":"string","description":"\u5c0d\u4fc3\u9032\u5c0f\u578b\u4f01\u696d\u53ca\u793e\u5340\u767c\u5c55\u7684\u8cb8\u653e\u4ef6\u6578(\u4ef6)"},"\u5c0d\u4fc3\u9032\u5c0f\u578b\u4f01\u696d\u53ca\u793e\u5340\u767c\u5c55\u7684\u8cb8\u653e\u9918\u984d(\u4edf\u5143)":{"type":"string","description":"\u5c0d\u4fc3\u9032\u5c0f\u578b\u4f01\u696d\u53ca\u793e\u5340\u767c\u5c55\u7684\u8cb8\u653e\u9918\u984d(\u4edf\u5143)"},"\u5c0d\u7f3a\u5c11\u9280\u884c\u670d\u52d9\u4e4b\u5f31\u52e2\u65cf\u7fa4\u63d0\u4f9b\u91d1\u878d\u6559\u80b2\u4e4b\u53c3\u8207\u4eba\u6578(\u4eba)":{"type":"string","description":"\u5c0d\u7f3a\u5c11\u9280\u884c\u670d\u52d9\u4e4b\u5f31\u52e2\u65cf\u7fa4\u63d0\u4f9b\u91d1\u878d\u6559\u80b2\u4e4b\u53c3\u8207\u4eba\u6578(\u4eba)"}}}}}}},"/opendata/t187ap46_L_16":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8cc7\u8a0a\u5b89\u5168","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8cc7\u8a0a\u5b89\u5168\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u8cc7\u8a0a\u5916\u6d29\u4e8b\u4ef6\u6578\u91cf":{"type":"string","description":"\u8cc7\u8a0a\u5916\u6d29\u4e8b\u4ef6\u6578\u91cf"},"\u8207\u500b\u8cc7\u76f8\u95dc\u7684\u8cc7\u8a0a\u5916\u6d29\u4e8b\u4ef6\u5360\u6bd4":{"type":"string","description":"\u8207\u500b\u8cc7\u76f8\u95dc\u7684\u8cc7\u8a0a\u5916\u6d29\u4e8b\u4ef6\u5360\u6bd4"},"\u56e0\u8cc7\u8a0a\u5916\u6d29\u4e8b\u4ef6\u800c\u53d7\u5f71\u97ff\u7684\u9867\u5ba2\u6578(\u4eba)":{"type":"string","description":"\u56e0\u8cc7\u8a0a\u5916\u6d29\u4e8b\u4ef6\u800c\u53d7\u5f71\u97ff\u7684\u9867\u5ba2\u6578(\u4eba)"}}}}}}},"/opendata/t187ap46_L_15":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u793e\u5340\u95dc\u4fc2","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u793e\u5340\u95dc\u4fc2\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u5728\u4eba\u53e3\u5bc6\u96c6\u5730\u5340\u7684\u7149\u6cb9\u5ee0\u6578\u91cf(\u5ea7)":{"type":"string","description":"\u5728\u4eba\u53e3\u5bc6\u96c6\u5730\u5340\u7684\u7149\u6cb9\u5ee0\u6578\u91cf(\u5ea7)"}}}}}}},"/opendata/t187ap46_L_14":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u7522\u54c1\u54c1\u8cea\u8207\u5b89\u5168","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u7522\u54c1\u54c1\u8cea\u8207\u5b89\u5168\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u552e\u51fa\u7522\u54c1\u91cd\u91cf(\u516c\u5678(t))":{"type":"string","description":"\u552e\u51fa\u7522\u54c1\u91cd\u91cf(\u516c\u5678(t))"},"\u751f\u7522\u8a2d\u65bd\u5834\u6240\u6578\u91cf(\u5ea7)":{"type":"string","description":"\u751f\u7522\u8a2d\u65bd\u5834\u6240\u6578\u91cf(\u5ea7)"},"\u4f9d\u7522\u54c1\u985e\u5225\u4e4b\u7522\u54c1\u7522\u91cf":{"type":"string","description":"\u4f9d\u7522\u54c1\u985e\u5225\u4e4b\u7522\u54c1\u7522\u91cf"}}}}}}},"/opendata/t187ap46_L_13":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4f9b\u61c9\u93c8\u7ba1\u7406","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4f9b\u61c9\u93c8\u7ba1\u7406\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u63a1\u8cfc\u7b26\u5408\u570b\u969b\u8a8d\u53ef\u4e4b\u7522\u54c1\u8cac\u4efb\u6a19\u6e96\u8005\u5360\u6574\u9ad4\u63a1\u8cfc\u4e4b\u767e\u5206\u6bd4\uff0c\u4e26\u4f9d\u6a19\u6e96\u5340\u5206":{"type":"string","description":"\u63a1\u8cfc\u7b26\u5408\u570b\u969b\u8a8d\u53ef\u4e4b\u7522\u54c1\u8cac\u4efb\u6a19\u6e96\u8005\u5360\u6574\u9ad4\u63a1\u8cfc\u4e4b\u767e\u5206\u6bd4\uff0c\u4e26\u4f9d\u6a19\u6e96\u5340\u5206"},"\u5c0d\u4f9b\u61c9\u5546\u9032\u884c\u7a3d\u6838\u4e4b\u5bb6\u6578(\u5bb6)":{"type":"string","description":"\u5c0d\u4f9b\u61c9\u5546\u9032\u884c\u7a3d\u6838\u4e4b\u5bb6\u6578(\u5bb6)"},"\u5c0d\u4f9b\u61c9\u5546\u9032\u884c\u7a3d\u6838\u4e4b\u767e\u5206\u6bd4":{"type":"string","description":"\u5c0d\u4f9b\u61c9\u5546\u9032\u884c\u7a3d\u6838\u4e4b\u767e\u5206\u6bd4"}}}}}}},"/opendata/t187ap46_L_12":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98df\u54c1\u5b89\u5168","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u98df\u54c1\u5b89\u5168\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u70ba\u6539\u5584\u98df\u54c1\u885b\u751f\u3001\u5b89\u5168\u8207\u54c1\u8cea\uff0c\u800c\u91dd\u5c0d\u5176\u5f9e\u696d\u4eba\u54e1\u3001\u4f5c\u696d\u5834\u6240\u3001\u8a2d\u65bd\u885b\u751f\u7ba1\u7406\u53ca\u5176\u54c1\u4fdd\u5236\u5ea6\u7b49\u65b9\u9762\u9032\u884c\u4e4b\u8a55\u4f30\u8207\u6539\u9032\u53ca\u6240\u5f71\u97ff\u4e4b\u767e\u5206\u6bd4":{"type":"string","description":"\u70ba\u6539\u5584\u98df\u54c1\u885b\u751f\u3001\u5b89\u5168\u8207\u54c1\u8cea\uff0c\u800c\u91dd\u5c0d\u5176\u5f9e\u696d\u4eba\u54e1\u3001\u4f5c\u696d\u5834\u6240\u3001\u8a2d\u65bd\u885b\u751f\u7ba1\u7406\u53ca\u5176\u54c1\u4fdd\u5236\u5ea6\u7b49\u65b9\u9762\u9032\u884c\u4e4b\u8a55\u4f30\u8207\u6539\u9032\u53ca\u6240\u5f71\u97ff\u4e4b\u767e\u5206\u6bd4"},"\u9055\u53cd\u6709\u95dc\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u5065\u5eb7\u8207\u5b89\u5168\u6cd5\u898f\u53ca\u672a\u9075\u5faa\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u8cc7\u8a0a\u8207\u6a19\u793a\u6cd5\u898f\u4e4b\u4e8b\u4ef6\u985e\u5225\u8207\u6b21\u6578":{"type":"string","description":"\u9055\u53cd\u6709\u95dc\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u5065\u5eb7\u8207\u5b89\u5168\u6cd5\u898f\u53ca\u672a\u9075\u5faa\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u8cc7\u8a0a\u8207\u6a19\u793a\u6cd5\u898f\u4e4b\u4e8b\u4ef6\u985e\u5225\u8207\u6b21\u6578"},"\u9055\u53cd\u6709\u95dc\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u5065\u5eb7\u8207\u5b89\u5168\u6cd5\u898f\u53ca\u672a\u9075\u5faa\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u8cc7\u8a0a\u8207\u6a19\u793a\u6cd5\u898f\u4e4b\u7522\u54c1\u4e0b\u67b6\u6b21\u6578(\u6b21)":{"type":"string","description":"\u9055\u53cd\u6709\u95dc\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u5065\u5eb7\u8207\u5b89\u5168\u6cd5\u898f\u53ca\u672a\u9075\u5faa\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u8cc7\u8a0a\u8207\u6a19\u793a\u6cd5\u898f\u4e4b\u7522\u54c1\u4e0b\u67b6\u6b21\u6578(\u6b21)"},"\u9055\u53cd\u6709\u95dc\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u5065\u5eb7\u8207\u5b89\u5168\u6cd5\u898f\u53ca\u672a\u9075\u5faa\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u8cc7\u8a0a\u8207\u6a19\u793a\u6cd5\u898f\u4e4b\u4e0b\u67b6\u7522\u54c1\u7e3d\u91cd\u91cf(\u516c\u5678(t))":{"type":"string","description":"\u9055\u53cd\u6709\u95dc\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u5065\u5eb7\u8207\u5b89\u5168\u6cd5\u898f\u53ca\u672a\u9075\u5faa\u7522\u54c1\u8207\u670d\u52d9\u4e4b\u8cc7\u8a0a\u8207\u6a19\u793a\u6cd5\u898f\u4e4b\u4e0b\u67b6\u7522\u54c1\u7e3d\u91cd\u91cf(\u516c\u5678(t))"},"\u7d93\u7368\u7acb\u7b2c\u4e09\u65b9\u9a57\u8b49\u7b26\u5408\u570b\u969b\u8a8d\u8b49\u4e4b\u98df\u54c1\u5b89\u5168\u7ba1\u7406\u7cfb\u7d71\u6a19\u6e96\u4e4b\u5ee0\u623f\u6240\u751f\u7522\u7522\u54c1\u4e4b\u767e\u5206\u6bd4":{"type":"string","description":"\u7d93\u7368\u7acb\u7b2c\u4e09\u65b9\u9a57\u8b49\u7b26\u5408\u570b\u969b\u8a8d\u8b49\u4e4b\u98df\u54c1\u5b89\u5168\u7ba1\u7406\u7cfb\u7d71\u6a19\u6e96\u4e4b\u5ee0\u623f\u6240\u751f\u7522\u7522\u54c1\u4e4b\u767e\u5206\u6bd4"},"\u4f9d\u6cd5\u898f\u8981\u6c42\u6216\u81ea\u9858\u9032\u884c\u7522\u54c1\u8ffd\u6eaf\u8207\u8ffd\u8e64\u7ba1\u7406\u4e4b\u76f8\u95dc\u7522\u54c1\u5360\u6240\u6709\u7522\u54c1\u4e4b\u767e\u5206\u6bd4":{"type":"string","description":"\u4f9d\u6cd5\u898f\u8981\u6c42\u6216\u81ea\u9858\u9032\u884c\u7522\u54c1\u8ffd\u6eaf\u8207\u8ffd\u8e64\u7ba1\u7406\u4e4b\u76f8\u95dc\u7522\u54c1\u5360\u6240\u6709\u7522\u54c1\u4e4b\u767e\u5206\u6bd4"},"\u4f9d\u6cd5\u898f\u8981\u6c42\u6216\u81ea\u9858\u8a2d\u7f6e\u98df\u54c1\u5b89\u5168\u5be6\u9a57\u5ba4\u4e4b\u76f8\u95dc\u652f\u51fa(\u4edf\u5143)":{"type":"string","description":"\u4f9d\u6cd5\u898f\u8981\u6c42\u6216\u81ea\u9858\u8a2d\u7f6e\u98df\u54c1\u5b89\u5168\u5be6\u9a57\u5ba4\u4e4b\u76f8\u95dc\u652f\u51fa(\u4edf\u5143)"},"\u4f9d\u6cd5\u898f\u8981\u6c42\u6216\u81ea\u9858\u8a2d\u7f6e\u98df\u54c1\u5b89\u5168\u5be6\u9a57\u5ba4\u4e4b\u76f8\u95dc\u652f\u51fa\u5360\u71df\u696d\u6536\u5165\u6de8\u984d\u4e4b\u767e\u5206\u6bd4":{"type":"string","description":"\u4f9d\u6cd5\u898f\u8981\u6c42\u6216\u81ea\u9858\u8a2d\u7f6e\u98df\u54c1\u5b89\u5168\u5be6\u9a57\u5ba4\u4e4b\u76f8\u95dc\u652f\u51fa\u5360\u71df\u696d\u6536\u5165\u6de8\u984d\u4e4b\u767e\u5206\u6bd4"}}}}}}},"/opendata/t187ap46_L_11":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u7522\u54c1\u751f\u547d\u9031\u671f","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u7522\u54c1\u751f\u547d\u9031\u671f\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u7522\u54c1\u751f\u547d\u9031\u671f\u7ba1\u7406\u4e4b\u63ed\u9732\uff1a\u5831\u5ee2\u7522\u54c1\u53ca\u96fb\u5b50\u5ee2\u68c4\u7269\u4e4b\u91cd\u91cf(\u516c\u5678(t))":{"type":"string","description":"\u7522\u54c1\u751f\u547d\u9031\u671f\u7ba1\u7406\u4e4b\u63ed\u9732\uff1a\u5831\u5ee2\u7522\u54c1\u53ca\u96fb\u5b50\u5ee2\u68c4\u7269\u4e4b\u91cd\u91cf(\u516c\u5678(t))"},"\u7522\u54c1\u751f\u547d\u9031\u671f\u7ba1\u7406\u4e4b\u63ed\u9732\uff1a\u542b\u5831\u5ee2\u7522\u54c1\u53ca\u96fb\u5b50\u5ee2\u68c4\u7269\u4e4b\u518d\u5faa\u74b0\u4e4b\u767e\u5206\u6bd4":{"type":"string","description":"\u7522\u54c1\u751f\u547d\u9031\u671f\u7ba1\u7406\u4e4b\u63ed\u9732\uff1a\u542b\u5831\u5ee2\u7522\u54c1\u53ca\u96fb\u5b50\u5ee2\u68c4\u7269\u4e4b\u518d\u5faa\u74b0\u4e4b\u767e\u5206\u6bd4"}}}}}}},"/opendata/t187ap46_L_10":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u71c3\u6599\u7ba1\u7406","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u71c3\u6599\u7ba1\u7406\uff0c\u672c\u9805\u76ee\u70ba\u7522\u696d\u6c38\u7e8c\u6307\u6a19\uff0c\u516c\u53f8\u4f9d\u7522\u696d\u5225\u52a0\u5f37\u63ed\u9732\uff0c\u6545\u975e\u6240\u6709\u516c\u53f8\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6d88\u8017\u71c3\u6599\u7e3d\u91cf(\u5341\u5104\u7126\u8033(GJ))":{"type":"string","description":"\u6d88\u8017\u71c3\u6599\u7e3d\u91cf(\u5341\u5104\u7126\u8033(GJ))"},"\u7164\u70ad\u767e\u5206\u6bd4":{"type":"string","description":"\u7164\u70ad\u767e\u5206\u6bd4"},"\u5929\u7136\u6c23\u767e\u5206\u6bd4":{"type":"string","description":"\u5929\u7136\u6c23\u767e\u5206\u6bd4"},"\u518d\u751f\u71c3\u6599\u767e\u5206\u6bd4":{"type":"string","description":"\u518d\u751f\u71c3\u6599\u767e\u5206\u6bd4"}}}}}}},"/opendata/t187ap46_L_9":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u529f\u80fd\u6027\u59d4\u54e1\u6703","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u529f\u80fd\u6027\u59d4\u54e1\u6703","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u85aa\u916c\u59d4\u54e1\u6703\u5e2d\u6b21":{"type":"string","description":"\u85aa\u916c\u59d4\u54e1\u6703\u5e2d\u6b21"},"\u85aa\u916c\u59d4\u54e1\u6703\u7368\u7acb\u8463\u4e8b\u5e2d\u6b21":{"type":"string","description":"\u85aa\u916c\u59d4\u54e1\u6703\u7368\u7acb\u8463\u4e8b\u5e2d\u6b21"},"\u85aa\u916c\u59d4\u54e1\u6703\u51fa\u5e2d\u7387":{"type":"string","description":"\u85aa\u916c\u59d4\u54e1\u6703\u51fa\u5e2d\u7387"},"\u5be9\u8a08\u59d4\u54e1\u6703\u5e2d\u6b21":{"type":"string","description":"\u5be9\u8a08\u59d4\u54e1\u6703\u5e2d\u6b21"},"\u5be9\u8a08\u59d4\u54e1\u6703\u51fa\u5e2d\u7387":{"type":"string","description":"\u5be9\u8a08\u59d4\u54e1\u6703\u51fa\u5e2d\u7387"}}}}}}},"/opendata/t187ap46_L_8":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c23\u5019\u76f8\u95dc\u8b70\u984c\u7ba1\u7406","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c23\u5019\u76f8\u95dc\u8b70\u984c\u7ba1\u7406","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u8463\u4e8b\u6703\u8207\u7ba1\u7406\u968e\u5c64\u5c0d\u65bc\u6c23\u5019\u76f8\u95dc\u98a8\u96aa\u8207\u6a5f\u6703\u4e4b\u76e3\u7763\u53ca\u6cbb\u7406":{"type":"string","description":"\u8463\u4e8b\u6703\u8207\u7ba1\u7406\u968e\u5c64\u5c0d\u65bc\u6c23\u5019\u76f8\u95dc\u98a8\u96aa\u8207\u6a5f\u6703\u4e4b\u76e3\u7763\u53ca\u6cbb\u7406"},"\u8fa8\u8b58\u4e4b\u6c23\u5019\u98a8\u96aa\u8207\u6a5f\u6703\u5982\u4f55\u5f71\u97ff\u4f01\u696d\u4e4b\u696d\u52d9\u3001\u7b56\u7565\u53ca\u8ca1\u52d9 (\u77ed\u671f\u3001\u4e2d\u671f\u3001\u9577\u671f)":{"type":"string","description":"\u8fa8\u8b58\u4e4b\u6c23\u5019\u98a8\u96aa\u8207\u6a5f\u6703\u5982\u4f55\u5f71\u97ff\u4f01\u696d\u4e4b\u696d\u52d9\u3001\u7b56\u7565\u53ca\u8ca1\u52d9 (\u77ed\u671f\u3001\u4e2d\u671f\u3001\u9577\u671f)"},"\u6975\u7aef\u6c23\u5019\u4e8b\u4ef6\u53ca\u8f49\u578b\u884c\u52d5\u5c0d\u8ca1\u52d9\u4e4b\u5f71\u97ff":{"type":"string","description":"\u6975\u7aef\u6c23\u5019\u4e8b\u4ef6\u53ca\u8f49\u578b\u884c\u52d5\u5c0d\u8ca1\u52d9\u4e4b\u5f71\u97ff"},"\u6c23\u5019\u98a8\u96aa\u4e4b\u8fa8\u8b58\u3001\u8a55\u4f30\u53ca\u7ba1\u7406\u6d41\u7a0b\u5982\u4f55\u6574\u5408\u65bc\u6574\u9ad4\u98a8\u96aa\u7ba1\u7406\u5236\u5ea6":{"type":"string","description":"\u6c23\u5019\u98a8\u96aa\u4e4b\u8fa8\u8b58\u3001\u8a55\u4f30\u53ca\u7ba1\u7406\u6d41\u7a0b\u5982\u4f55\u6574\u5408\u65bc\u6574\u9ad4\u98a8\u96aa\u7ba1\u7406\u5236\u5ea6"},"\u82e5\u4f7f\u7528\u60c5\u5883\u5206\u6790\u8a55\u4f30\u9762\u5c0d\u6c23\u5019\u8b8a\u9077\u98a8\u96aa\u4e4b\u97cc\u6027\uff0c\u61c9\u8aaa\u660e\u6240\u4f7f\u7528\u4e4b\u60c5\u5883\u3001\u53c3\u6578\u3001\u5047\u8a2d\u3001\u5206\u6790\u56e0\u5b50\u53ca\u4e3b\u8981\u8ca1\u52d9\u5f71\u97ff":{"type":"string","description":"\u82e5\u4f7f\u7528\u60c5\u5883\u5206\u6790\u8a55\u4f30\u9762\u5c0d\u6c23\u5019\u8b8a\u9077\u98a8\u96aa\u4e4b\u97cc\u6027\uff0c\u61c9\u8aaa\u660e\u6240\u4f7f\u7528\u4e4b\u60c5\u5883\u3001\u53c3\u6578\u3001\u5047\u8a2d\u3001\u5206\u6790\u56e0\u5b50\u53ca\u4e3b\u8981\u8ca1\u52d9\u5f71\u97ff"},"\u82e5\u6709\u56e0\u61c9\u7ba1\u7406\u6c23\u5019\u76f8\u95dc\u98a8\u96aa\u4e4b\u8f49\u578b\u8a08\u756b\uff0c\u8aaa\u660e\u8a72\u8a08\u756b\u5167\u5bb9\uff0c\u53ca\u7528\u65bc\u8fa8\u8b58\u53ca\u7ba1\u7406\u5be6\u9ad4\u98a8\u96aa\u53ca\u8f49\u578b\u98a8\u96aa\u4e4b\u6307\u6a19\u8207\u76ee\u6a19":{"type":"string","description":"\u82e5\u6709\u56e0\u61c9\u7ba1\u7406\u6c23\u5019\u76f8\u95dc\u98a8\u96aa\u4e4b\u8f49\u578b\u8a08\u756b\uff0c\u8aaa\u660e\u8a72\u8a08\u756b\u5167\u5bb9\uff0c\u53ca\u7528\u65bc\u8fa8\u8b58\u53ca\u7ba1\u7406\u5be6\u9ad4\u98a8\u96aa\u53ca\u8f49\u578b\u98a8\u96aa\u4e4b\u6307\u6a19\u8207\u76ee\u6a19"},"\u4f7f\u7528\u5167\u90e8\u78b3\u5b9a\u50f9\u4f5c\u70ba\u898f\u5283\u5de5\u5177\uff0c\u61c9\u8aaa\u660e\u50f9\u683c\u5236\u5b9a\u57fa\u790e,\u82e5\u6709\u8a2d\u5b9a\u6c23\u5019\u76f8\u95dc\u76ee\u6a19\uff0c\u61c9\u8aaa\u660e\u6240\u6db5\u84cb\u4e4b\u6d3b\u52d5\u3001\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e\u7bc4\u7587\u3001\u898f\u5283\u671f\u7a0b\uff0c\u6bcf\u5e74\u9054\u6210\u9032\u5ea6\u7b49\u8cc7\u8a0a\uff1b\u82e5\u4f7f\u7528\u78b3\u62b5\u63db\u6216\u518d\u751f\u80fd\u6e90\u6191\u8b49(RECs)\u4ee5\u9054\u6210\u76f8\u95dc\u76ee\u6a19\uff0c\u61c9\u8aaa\u660e\u6240\u62b5\u63db\u4e4b\u6e1b\u78b3\u984d\u5ea6\u4f86\u6e90\u53ca\u6578\u91cf\u6216\u518d\u751f\u80fd\u6e90\u6191\u8b49(RECs)\u6578\u91cf":{"type":"string","description":"\u4f7f\u7528\u5167\u90e8\u78b3\u5b9a\u50f9\u4f5c\u70ba\u898f\u5283\u5de5\u5177\uff0c\u61c9\u8aaa\u660e\u50f9\u683c\u5236\u5b9a\u57fa\u790e,\u82e5\u6709\u8a2d\u5b9a\u6c23\u5019\u76f8\u95dc\u76ee\u6a19\uff0c\u61c9\u8aaa\u660e\u6240\u6db5\u84cb\u4e4b\u6d3b\u52d5\u3001\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e\u7bc4\u7587\u3001\u898f\u5283\u671f\u7a0b\uff0c\u6bcf\u5e74\u9054\u6210\u9032\u5ea6\u7b49\u8cc7\u8a0a\uff1b\u82e5\u4f7f\u7528\u78b3\u62b5\u63db\u6216\u518d\u751f\u80fd\u6e90\u6191\u8b49(RECs)\u4ee5\u9054\u6210\u76f8\u95dc\u76ee\u6a19\uff0c\u61c9\u8aaa\u660e\u6240\u62b5\u63db\u4e4b\u6e1b\u78b3\u984d\u5ea6\u4f86\u6e90\u53ca\u6578\u91cf\u6216\u518d\u751f\u80fd\u6e90\u6191\u8b49(RECs)\u6578\u91cf"}}}}}}},"/opendata/t187ap47_L":{"get":{"tags":["\u5176\u4ed6"],"summary":"\u57fa\u91d1\u57fa\u672c\u8cc7\u6599\u5f59\u7e3d\u8868","description":"\u57fa\u91d1\u57fa\u672c\u8cc7\u6599\u5f59\u7e3d\u8868","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u57fa\u91d1\u4ee3\u865f":{"type":"string","description":"\u57fa\u91d1\u4ee3\u865f"},"\u57fa\u91d1\u7c21\u7a31":{"type":"string","description":"\u57fa\u91d1\u7c21\u7a31"},"\u57fa\u91d1\u985e\u578b":{"type":"string","description":"\u57fa\u91d1\u985e\u578b"},"\u57fa\u91d1\u4e2d\u6587\u540d\u7a31":{"type":"string","description":"\u57fa\u91d1\u4e2d\u6587\u540d\u7a31"},"\u57fa\u91d1\u82f1\u6587\u540d\u7a31":{"type":"string","description":"\u57fa\u91d1\u82f1\u6587\u540d\u7a31"},"\u6a19\u7684\u6307\u6578/\u8ffd\u8e64\u6307\u6578\u540d\u7a31":{"type":"string","description":"\u6a19\u7684\u6307\u6578/\u8ffd\u8e64\u6307\u6578\u540d\u7a31"},"\u6a19\u7684\u6307\u6578\u662f\u5426\u70ba\u5ba2\u88fd\u5316\u6216\u9700\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a\u4e4b\u6307\u6578":{"type":"string","description":"\u6a19\u7684\u6307\u6578\u662f\u5426\u70ba\u5ba2\u88fd\u5316\u6216\u9700\u63ed\u9732\u76f8\u95dc\u8cc7\u8a0a\u4e4b\u6307\u6578"},"\u80a1\u7968\u53ca\u50b5\u5238\u6295\u8cc7\u6bd4\u4f8b\u8aaa\u660e":{"type":"string","description":"\u80a1\u7968\u53ca\u50b5\u5238\u6295\u8cc7\u6bd4\u4f8b\u8aaa\u660e"},"\u662f\u5426\u8a2d\u6709\u7e3e\u6548\u6307\u6a19":{"type":"string","description":"\u662f\u5426\u8a2d\u6709\u7e3e\u6548\u6307\u6a19"},"\u7e3e\u6548\u6307\u6a19\u4e2d\u6587\u540d\u7a31":{"type":"string","description":"\u7e3e\u6548\u6307\u6a19\u4e2d\u6587\u540d\u7a31"},"\u7e3e\u6548\u6307\u6a19\u82f1\u6587\u540d\u7a31":{"type":"string","description":"\u7e3e\u6548\u6307\u6a19\u82f1\u6587\u540d\u7a31"},"\u662f\u5426\u5305\u542b\u570b\u5916\u6210\u5206\u80a1":{"type":"string","description":"\u662f\u5426\u5305\u542b\u570b\u5916\u6210\u5206\u80a1"},"\u57fa\u91d1\u7d71\u4e00\u7de8\u865f":{"type":"string","description":"\u57fa\u91d1\u7d71\u4e00\u7de8\u865f"},"\u6210\u7acb\u65e5\u671f":{"type":"string","description":"\u6210\u7acb\u65e5\u671f"},"\u4e0a\u5e02\u65e5\u671f":{"type":"string","description":"\u4e0a\u5e02\u65e5\u671f"},"\u57fa\u91d1\u7d93\u7406\u4eba":{"type":"string","description":"\u57fa\u91d1\u7d93\u7406\u4eba"},"\u7d93\u7406\u516c\u53f8\u7e3d\u6a5f":{"type":"string","description":"\u7d93\u7406\u516c\u53f8\u7e3d\u6a5f"},"\u7d93\u7406\u516c\u53f8\u5730\u5740":{"type":"string","description":"\u7d93\u7406\u516c\u53f8\u5730\u5740"},"\u7d93\u7406\u516c\u53f8\u8463\u4e8b\u9577":{"type":"string","description":"\u7d93\u7406\u516c\u53f8\u8463\u4e8b\u9577"},"\u7d93\u7406\u516c\u53f8\u767c\u8a00\u4eba":{"type":"string","description":"\u7d93\u7406\u516c\u53f8\u767c\u8a00\u4eba"},"\u7d93\u7406\u516c\u53f8\u7e3d\u7d93\u7406":{"type":"string","description":"\u7d93\u7406\u516c\u53f8\u7e3d\u7d93\u7406"},"\u7d93\u7406\u516c\u53f8\u4ee3\u7406\u767c\u8a00\u4eba":{"type":"string","description":"\u7d93\u7406\u516c\u53f8\u4ee3\u7406\u767c\u8a00\u4eba"},"\u7e3d\u4ee3\u7406\u4eba":{"type":"string","description":"\u7e3d\u4ee3\u7406\u4eba"},"\u767c\u884c\u55ae\u4f4d\u6578/\u8f49\u63db\u6578":{"type":"string","description":"\u767c\u884c\u55ae\u4f4d\u6578/\u8f49\u63db\u6578"},"\u4fdd\u7ba1\u6a5f\u69cb":{"type":"string","description":"\u4fdd\u7ba1\u6a5f\u69cb"},"\u4fdd\u7ba1\u6a5f\u69cb\u96fb\u8a71":{"type":"string","description":"\u4fdd\u7ba1\u6a5f\u69cb\u96fb\u8a71"},"\u4fdd\u7ba1\u6a5f\u69cb\u5730\u5740":{"type":"string","description":"\u4fdd\u7ba1\u6a5f\u69cb\u5730\u5740"},"\u5099\u8a3b":{"type":"string","description":"\u5099\u8a3b"}}}}}}},"/opendata/t187ap05_P":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u516c\u958b\u767c\u884c\u516c\u53f8\u6bcf\u6708\u71df\u696d\u6536\u5165\u5f59\u7e3d\u8868","description":"\u516c\u958b\u767c\u884c\u516c\u53f8\u6bcf\u6708\u71df\u696d\u6536\u5165\u5f59\u7e3d\u8868","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u8cc7\u6599\u5e74\u6708":{"type":"string","description":"\u8cc7\u6599\u5e74\u6708"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u7522\u696d\u5225":{"type":"string","description":"\u7522\u696d\u5225"},"\u71df\u696d\u6536\u5165-\u7576\u6708\u71df\u6536":{"type":"string","description":"\u71df\u696d\u6536\u5165-\u7576\u6708\u71df\u6536"},"\u71df\u696d\u6536\u5165-\u4e0a\u6708\u71df\u6536":{"type":"string","description":"\u71df\u696d\u6536\u5165-\u4e0a\u6708\u71df\u6536"},"\u71df\u696d\u6536\u5165-\u53bb\u5e74\u7576\u6708\u71df\u6536":{"type":"string","description":"\u71df\u696d\u6536\u5165-\u53bb\u5e74\u7576\u6708\u71df\u6536"},"\u71df\u696d\u6536\u5165-\u4e0a\u6708\u6bd4\u8f03\u589e\u6e1b(%)":{"type":"string","description":"\u71df\u696d\u6536\u5165-\u4e0a\u6708\u6bd4\u8f03\u589e\u6e1b(%)"},"\u71df\u696d\u6536\u5165-\u53bb\u5e74\u540c\u6708\u589e\u6e1b(%)":{"type":"string","description":"\u71df\u696d\u6536\u5165-\u53bb\u5e74\u540c\u6708\u589e\u6e1b(%)"},"\u7d2f\u8a08\u71df\u696d\u6536\u5165-\u7576\u6708\u7d2f\u8a08\u71df\u6536":{"type":"string","description":"\u7d2f\u8a08\u71df\u696d\u6536\u5165-\u7576\u6708\u7d2f\u8a08\u71df\u6536"},"\u7d2f\u8a08\u71df\u696d\u6536\u5165-\u53bb\u5e74\u7d2f\u8a08\u71df\u6536":{"type":"string","description":"\u7d2f\u8a08\u71df\u696d\u6536\u5165-\u53bb\u5e74\u7d2f\u8a08\u71df\u6536"},"\u7d2f\u8a08\u71df\u696d\u6536\u5165-\u524d\u671f\u6bd4\u8f03\u589e\u6e1b(%)":{"type":"string","description":"\u7d2f\u8a08\u71df\u696d\u6536\u5165-\u524d\u671f\u6bd4\u8f03\u589e\u6e1b(%)"},"\u5099\u8a3b":{"type":"string","description":"\u5099\u8a3b"}}}}}}},"/opendata/t187ap46_L_7":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6295\u8cc7\u4eba\u6e9d\u901a","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6295\u8cc7\u4eba\u6e9d\u901a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u516c\u53f8\u5e74\u5ea6\u53ec\u958b\u6cd5\u8aaa\u6703\u6b21\u6578(\u6b21)":{"type":"string","description":"\u516c\u53f8\u5e74\u5ea6\u53ec\u958b\u6cd5\u8aaa\u6703\u6b21\u6578(\u6b21)"}}}}}}},"/opendata/t187ap46_L_6":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8463\u4e8b\u6703","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u8463\u4e8b\u6703","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"number","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u8463\u4e8b\u5e2d\u6b21(\u542b\u7368\u7acb\u8463\u4e8b)(\u5e2d)":{"type":"string","description":"\u8463\u4e8b\u5e2d\u6b21(\u542b\u7368\u7acb\u8463\u4e8b)(\u5e2d)"},"\u7368\u7acb\u8463\u4e8b\u5e2d\u6b21(\u5e2d)":{"type":"string","description":"\u7368\u7acb\u8463\u4e8b\u5e2d\u6b21(\u5e2d)"},"\u5973\u6027\u8463\u4e8b\u5e2d\u6b21\u53ca\u6bd4\u7387-\u5e2d":{"type":"string","description":"\u5973\u6027\u8463\u4e8b\u5e2d\u6b21\u53ca\u6bd4\u7387-\u5e2d"},"\u5973\u6027\u8463\u4e8b\u5e2d\u6b21\u53ca\u6bd4\u7387-\u6bd4\u7387":{"type":"string","description":"\u5973\u6027\u8463\u4e8b\u5e2d\u6b21\u53ca\u6bd4\u7387-\u6bd4\u7387"},"\u8463\u4e8b\u51fa\u5e2d\u8463\u4e8b\u6703\u51fa\u5e2d\u7387":{"type":"string","description":"\u8463\u4e8b\u51fa\u5e2d\u8463\u4e8b\u6703\u51fa\u5e2d\u7387"},"\u8463\u76e3\u4e8b\u9032\u4fee\u6642\u6578\u7b26\u5408\u9032\u4fee\u8981\u9ede\u6bd4\u7387":{"type":"string","description":"\u8463\u76e3\u4e8b\u9032\u4fee\u6642\u6578\u7b26\u5408\u9032\u4fee\u8981\u9ede\u6bd4\u7387"}}}}}}},"/opendata/t187ap46_L_5":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4eba\u529b\u767c\u5c55","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u4eba\u529b\u767c\u5c55","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"number","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u54e1\u5de5\u798f\u5229\u5e73\u5747\u6578(\u4edf\u5143/\u4eba)":{"type":"string","description":"\u54e1\u5de5\u798f\u5229\u5e73\u5747\u6578(\u4edf\u5143/\u4eba)"},"\u54e1\u5de5\u85aa\u8cc7\u5e73\u5747\u6578(\u4edf\u5143/\u4eba) ":{"type":"string","description":"\u54e1\u5de5\u85aa\u8cc7\u5e73\u5747\u6578(\u4edf\u5143/\u4eba) "},"\u975e\u64d4\u4efb\u4e3b\u7ba1\u8077\u52d9\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u5e73\u5747\u6578(\u4edf\u5143/\u4eba) ":{"type":"string","description":"\u975e\u64d4\u4efb\u4e3b\u7ba1\u8077\u52d9\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u5e73\u5747\u6578(\u4edf\u5143/\u4eba) "},"\u975e\u64d4\u4efb\u4e3b\u7ba1\u8077\u52d9\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u5e73\u5747\u6578\u8b8a\u52d5\u767e\u5206\u6bd4":{"type":"string","description":"\u975e\u64d4\u4efb\u4e3b\u7ba1\u8077\u52d9\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u5e73\u5747\u6578\u8b8a\u52d5\u767e\u5206\u6bd4"},"\u975e\u64d4\u4efb\u4e3b\u7ba1\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u4e2d\u4f4d\u6578(\u4edf\u5143/\u4eba) ":{"type":"string","description":"\u975e\u64d4\u4efb\u4e3b\u7ba1\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u4e2d\u4f4d\u6578(\u4edf\u5143/\u4eba) "},"\u975e\u64d4\u4efb\u4e3b\u7ba1\u8077\u52d9\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u4e2d\u4f4d\u6578\u8b8a\u52d5\u767e\u5206\u6bd4":{"type":"string","description":"\u975e\u64d4\u4efb\u4e3b\u7ba1\u8077\u52d9\u4e4b\u5168\u6642\u54e1\u5de5\u85aa\u8cc7\u4e2d\u4f4d\u6578\u8b8a\u52d5\u767e\u5206\u6bd4"},"\u7ba1\u7406\u8077\u5973\u6027\u4e3b\u7ba1\u4f54\u6bd4":{"type":"string","description":"\u7ba1\u7406\u8077\u5973\u6027\u4e3b\u7ba1\u4f54\u6bd4"},"\u65b0\u9032\u54e1\u5de5\u5e74\u9f61\u5206\u5e03":{"type":"string","description":"\u65b0\u9032\u54e1\u5de5\u5e74\u9f61\u5206\u5e03"},"\u96e2\u8077\u54e1\u5de5\u5e74\u9f61\u5206\u5e03":{"type":"string","description":"\u96e2\u8077\u54e1\u5de5\u5e74\u9f61\u5206\u5e03"},"\u9ad8\u9f61\u54e1\u5de5\u6649\u7528\u653f\u7b56\u53ca\u57f9\u8a13\u8a08\u756b":{"type":"string","description":"\u9ad8\u9f61\u54e1\u5de5\u6649\u7528\u653f\u7b56\u53ca\u57f9\u8a13\u8a08\u756b"}}}}}}},"/opendata/t187ap46_L_4":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u5ee2\u68c4\u7269\u7ba1\u7406","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u5ee2\u68c4\u7269\u7ba1\u7406","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u6578\u64da(\u516c\u5678) ":{"type":"string","description":"\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u6578\u64da(\u516c\u5678) "},"\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u8cc7\u6599\u7bc4\u570d":{"type":"string","description":"\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u8cc7\u6599\u7bc4\u570d"},"\u975e\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u6578\u64da(\u516c\u5678)":{"type":"string","description":"\u975e\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u6578\u64da(\u516c\u5678)"},"\u975e\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u8cc7\u6599\u7bc4\u570d":{"type":"string","description":"\u975e\u6709\u5bb3\u5ee2\u68c4\u7269\u91cf-\u8cc7\u6599\u7bc4\u570d"},"\u7e3d\u91cd\u91cf(\u6709\u5bb3+\u975e\u6709\u5bb3)-\u6578\u64da(\u516c\u5678)":{"type":"string","description":"\u7e3d\u91cd\u91cf(\u6709\u5bb3+\u975e\u6709\u5bb3)-\u6578\u64da(\u516c\u5678)"},"\u7e3d\u91cd\u91cf(\u6709\u5bb3+\u975e\u6709\u5bb3)-\u8cc7\u6599\u7bc4\u570d":{"type":"string","description":"\u7e3d\u91cd\u91cf(\u6709\u5bb3+\u975e\u6709\u5bb3)-\u8cc7\u6599\u7bc4\u570d"},"\u5ee2\u68c4\u7269\u5bc6\u96c6\u5ea6-\u5bc6\u96c6\u5ea6(\u516c\u5678/\u55ae\u4f4d) ":{"type":"string","description":"\u5ee2\u68c4\u7269\u5bc6\u96c6\u5ea6-\u5bc6\u96c6\u5ea6(\u516c\u5678/\u55ae\u4f4d) "},"\u5ee2\u68c4\u7269\u5bc6\u96c6\u5ea6-\u55ae\u4f4d":{"type":"string","description":"\u5ee2\u68c4\u7269\u5bc6\u96c6\u5ea6-\u55ae\u4f4d"},"\u53d6\u5f97\u9a57\u8b49":{"type":"string","description":"\u53d6\u5f97\u9a57\u8b49"}}}}}}},"/opendata/t187ap46_L_3":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c34\u8cc7\u6e90\u7ba1\u7406","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6c34\u8cc7\u6e90\u7ba1\u7406","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u7528\u6c34\u91cf(\u516c\u5678)":{"type":"string","description":"\u7528\u6c34\u91cf(\u516c\u5678)"},"\u8cc7\u6599\u7bc4\u570d":{"type":"string","description":"\u8cc7\u6599\u7bc4\u570d"},"\u7528\u6c34\u5bc6\u96c6\u5ea6-\u5bc6\u96c6\u5ea6(\u516c\u5678/\u55ae\u4f4d) ":{"type":"string","description":"\u7528\u6c34\u5bc6\u96c6\u5ea6-\u5bc6\u96c6\u5ea6(\u516c\u5678/\u55ae\u4f4d) "},"\u7528\u6c34\u5bc6\u96c6\u5ea6-\u55ae\u4f4d":{"type":"string","description":"\u7528\u6c34\u5bc6\u96c6\u5ea6-\u55ae\u4f4d"},"\u53d6\u5f97\u9a57\u8b49":{"type":"string","description":"\u53d6\u5f97\u9a57\u8b49"}}}}}}},"/opendata/t187ap46_L_2":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u80fd\u6e90\u7ba1\u7406","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u80fd\u6e90\u7ba1\u7406","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u4f7f\u7528\u7387(\u518d\u751f\u80fd\u6e90/\u7e3d\u80fd\u6e90)":{"type":"string","description":"\u4f7f\u7528\u7387(\u518d\u751f\u80fd\u6e90/\u7e3d\u80fd\u6e90)"},"\u8cc7\u6599\u7bc4\u570d":{"type":"string","description":"\u8cc7\u6599\u7bc4\u570d"},"\u53d6\u5f97\u9a57\u8b49":{"type":"string","description":"\u53d6\u5f97\u9a57\u8b49"}}}}}}},"/opendata/t187ap46_L_1":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e","description":"\u4e0a\u5e02\u516c\u53f8\u4f01\u696dESG\u8cc7\u8a0a\u63ed\u9732\u5f59\u7e3d\u8cc7\u6599-\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5831\u544a\u5e74\u5ea6":{"type":"string","description":"\u5831\u544a\u5e74\u5ea6"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u7bc4\u7587\u4e00\u6392\u653e\u91cf(\u5678CO2e)":{"type":"string","description":"\u7bc4\u7587\u4e00\u6392\u653e\u91cf(\u5678CO2e)"},"\u7bc4\u7587\u4e00\u8cc7\u6599\u908a\u754c":{"type":"string","description":"\u7bc4\u7587\u4e00\u8cc7\u6599\u908a\u754c"},"\u7bc4\u7587\u4e00\u53d6\u5f97\u9a57\u8b49":{"type":"string","description":"\u7bc4\u7587\u4e00\u53d6\u5f97\u9a57\u8b49"},"\u7bc4\u7587\u4e8c\u6392\u653e\u91cf(\u5678CO2e)":{"type":"string","description":"\u7bc4\u7587\u4e8c\u6392\u653e\u91cf(\u5678CO2e)"},"\u7bc4\u7587\u4e8c\u8cc7\u6599\u908a\u754c":{"type":"string","description":"\u7bc4\u7587\u4e8c\u8cc7\u6599\u908a\u754c"},"\u7bc4\u7587\u4e8c\u53d6\u5f97\u9a57\u8b49":{"type":"string","description":"\u7bc4\u7587\u4e8c\u53d6\u5f97\u9a57\u8b49"},"\u7bc4\u7587\u4e09\u6392\u653e\u91cf(\u5678CO2e)":{"type":"string","description":"\u7bc4\u7587\u4e09\u6392\u653e\u91cf(\u5678CO2e)"},"\u7bc4\u7587\u4e09\u8cc7\u6599\u908a\u754c":{"type":"string","description":"\u7bc4\u7587\u4e09\u8cc7\u6599\u908a\u754c"},"\u7bc4\u7587\u4e09\u53d6\u5f97\u9a57\u8b49":{"type":"string","description":"\u7bc4\u7587\u4e09\u53d6\u5f97\u9a57\u8b49"},"\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e\u5bc6\u96c6\u5ea6(\u5678CO2e/\u55ae\u4f4d)":{"type":"string","description":"\u6eab\u5ba4\u6c23\u9ad4\u6392\u653e\u5bc6\u96c6\u5ea6(\u5678CO2e/\u55ae\u4f4d)"}}}}}}},"/ETFReport/ETFRank":{"get":{"tags":["\u5238\u5546\u8cc7\u6599"],"summary":"\u5b9a\u671f\u5b9a\u984d\u4ea4\u6613\u6236\u6578\u7d71\u8a08\u6392\u884c\u6708\u5831\u8868","description":"\u5b9a\u671f\u5b9a\u984d\u4ea4\u6613\u6236\u6578\u7d71\u8a08\u6392\u884c\u6708\u5831\u8868","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"No":{"type":"string","description":"\u6392\u5e8f"},"STOCKsSecurityCode":{"type":"string","description":"\u80a1\u7968\u4ee3\u865f"},"STOCKsName":{"type":"string","description":"\u80a1\u7968\u540d\u7a31"},"STOCKsNumberofTradingAccounts":{"type":"string","description":"\u80a1\u7968\u4ea4\u6613\u6236\u6578"},"ETFsSecurityCode":{"type":"string","description":"ETF\u4ee3\u865f"},"ETFsName":{"type":"string","description":"ETF\u540d\u7a31"},"ETFsNumberofTradingAccounts":{"type":"string","description":"ETF\u4ea4\u6613\u6236\u6578"}}}}}}},"/brokerService/secRegData":{"get":{"tags":["\u5238\u5546\u8cc7\u6599"],"summary":"\u958b\u8fa6\u5b9a\u671f\u5b9a\u984d\u696d\u52d9\u8b49\u5238\u5546\u540d\u55ae","description":"\u958b\u8fa6\u5b9a\u671f\u5b9a\u984d\u696d\u52d9\u8b49\u5238\u5546\u540d\u55ae","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"SecuritiesFirmCode":{"type":"string","description":"\u8b49\u5238\u5546\u4ee3\u865f"},"Name":{"type":"string","description":"\u8b49\u5238\u5546\u7c21\u7a31"},"BrokerageBusinessStartingDate":{"type":"string","description":"\u7d93\u7d00\u696d\u52d9\u958b\u59cb\u8fa6\u7406\u65e5\u671f"},"WealthManagementBusinessStartingDate":{"type":"string","description":"\u8ca1\u5bcc\u7ba1\u7406\u696d\u52d9\u958b\u59cb\u8fa6\u7406\u65e5\u671f"}}}}}}},"/opendata/t187ap07_X_ci":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u4e00\u822c\u696d","description":"\u516c\u767c\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u4e00\u822c\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6d41\u52d5\u8cc7\u7522":{"type":"string","description":"\u6d41\u52d5\u8cc7\u7522"},"\u975e\u6d41\u52d5\u8cc7\u7522":{"type":"string","description":"\u975e\u6d41\u52d5\u8cc7\u7522"},"\u8cc7\u7522\u7e3d\u8a08":{"type":"string","description":"\u8cc7\u7522\u7e3d\u8a08"},"\u6d41\u52d5\u8ca0\u50b5":{"type":"string","description":"\u6d41\u52d5\u8ca0\u50b5"},"\u975e\u6d41\u52d5\u8ca0\u50b5":{"type":"string","description":"\u975e\u6d41\u52d5\u8ca0\u50b5"},"\u8ca0\u50b5\u7e3d\u8a08":{"type":"string","description":"\u8ca0\u50b5\u7e3d\u8a08"},"\u80a1\u672c":{"type":"string","description":"\u80a1\u672c"},"\u6b0a\u76ca\u2500\u5177\u8b49\u5238\u6027\u8cea\u4e4b\u865b\u64ec\u901a\u8ca8":{"type":"string","description":"\u6b0a\u76ca\u2500\u5177\u8b49\u5238\u6027\u8cea\u4e4b\u865b\u64ec\u901a\u8ca8"},"\u8cc7\u672c\u516c\u7a4d":{"type":"string","description":"\u8cc7\u672c\u516c\u7a4d"},"\u4fdd\u7559\u76c8\u9918":{"type":"string","description":"\u4fdd\u7559\u76c8\u9918"},"\u5176\u4ed6\u6b0a\u76ca":{"type":"string","description":"\u5176\u4ed6\u6b0a\u76ca"},"\u5eab\u85cf\u80a1\u7968":{"type":"string","description":"\u5eab\u85cf\u80a1\u7968"},"\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b\u4e4b\u6b0a\u76ca\u5408\u8a08":{"type":"string","description":"\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b\u4e4b\u6b0a\u76ca\u5408\u8a08"},"\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a"},"\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u975e\u63a7\u5236\u6b0a\u76ca"},"\u6b0a\u76ca\u7e3d\u8a08":{"type":"string","description":"\u6b0a\u76ca\u7e3d\u8a08"},"\u5f85\u8a3b\u92b7\u80a1\u672c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09":{"type":"string","description":"\u5f85\u8a3b\u92b7\u80a1\u672c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09"},"\u9810\u6536\u80a1\u6b3e\uff08\u6b0a\u76ca\u9805\u4e0b\uff09\u4e4b\u7d04\u7576\u767c\u884c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09":{"type":"string","description":"\u9810\u6536\u80a1\u6b3e\uff08\u6b0a\u76ca\u9805\u4e0b\uff09\u4e4b\u7d04\u7576\u767c\u884c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09"},"\u6bcd\u516c\u53f8\u66a8\u5b50\u516c\u53f8\u6240\u6301\u6709\u4e4b\u6bcd\u516c\u53f8\u5eab\u85cf\u80a1\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09":{"type":"string","description":"\u6bcd\u516c\u53f8\u66a8\u5b50\u516c\u53f8\u6240\u6301\u6709\u4e4b\u6bcd\u516c\u53f8\u5eab\u85cf\u80a1\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09"},"\u6bcf\u80a1\u53c3\u8003\u6de8\u503c":{"type":"string","description":"\u6bcf\u80a1\u53c3\u8003\u6de8\u503c"}}}}}}},"/opendata/t187ap07_X_mim":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u7570\u696d","description":"\u516c\u767c\u516c\u53f8\u8cc7\u7522\u8ca0\u50b5\u8868-\u7570\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6d41\u52d5\u8cc7\u7522":{"type":"string","description":"\u6d41\u52d5\u8cc7\u7522"},"\u975e\u6d41\u52d5\u8cc7\u7522":{"type":"string","description":"\u975e\u6d41\u52d5\u8cc7\u7522"},"\u8cc7\u7522\u7e3d\u8a08":{"type":"string","description":"\u8cc7\u7522\u7e3d\u8a08"},"\u6d41\u52d5\u8ca0\u50b5":{"type":"string","description":"\u6d41\u52d5\u8ca0\u50b5"},"\u975e\u6d41\u52d5\u8ca0\u50b5":{"type":"string","description":"\u975e\u6d41\u52d5\u8ca0\u50b5"},"\u8ca0\u50b5\u7e3d\u8a08":{"type":"string","description":"\u8ca0\u50b5\u7e3d\u8a08"},"\u80a1\u672c":{"type":"string","description":"\u80a1\u672c"},"\u6b0a\u76ca\uff0d\u5177\u8b49\u5238\u6027\u8cea\u4e4b\u865b\u64ec\u901a\u8ca8":{"type":"string","description":"\u6b0a\u76ca\uff0d\u5177\u8b49\u5238\u6027\u8cea\u4e4b\u865b\u64ec\u901a\u8ca8"},"\u8cc7\u672c\u516c\u7a4d":{"type":"string","description":"\u8cc7\u672c\u516c\u7a4d"},"\u4fdd\u7559\u76c8\u9918":{"type":"string","description":"\u4fdd\u7559\u76c8\u9918"},"\u5176\u4ed6\u6b0a\u76ca":{"type":"string","description":"\u5176\u4ed6\u6b0a\u76ca"},"\u5eab\u85cf\u80a1\u7968":{"type":"string","description":"\u5eab\u85cf\u80a1\u7968"},"\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b\u4e4b\u6b0a\u76ca\u5408\u8a08":{"type":"string","description":"\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b\u4e4b\u6b0a\u76ca\u5408\u8a08"},"\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u975e\u63a7\u5236\u6b0a\u76ca"},"\u6b0a\u76ca\u7e3d\u984d":{"type":"string","description":"\u6b0a\u76ca\u7e3d\u984d"},"\u5f85\u8a3b\u92b7\u80a1\u672c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09":{"type":"string","description":"\u5f85\u8a3b\u92b7\u80a1\u672c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09"},"\u9810\u6536\u80a1\u6b3e\uff08\u6b0a\u76ca\u9805\u4e0b\uff09\u4e4b\u7d04\u7576\u767c\u884c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09":{"type":"string","description":"\u9810\u6536\u80a1\u6b3e\uff08\u6b0a\u76ca\u9805\u4e0b\uff09\u4e4b\u7d04\u7576\u767c\u884c\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09"},"\u6bcd\u516c\u53f8\u66a8\u5b50\u516c\u53f8\u6240\u6301\u6709\u4e4b\u6bcd\u516c\u53f8\u5eab\u85cf\u80a1\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09":{"type":"string","description":"\u6bcd\u516c\u53f8\u66a8\u5b50\u516c\u53f8\u6240\u6301\u6709\u4e4b\u6bcd\u516c\u53f8\u5eab\u85cf\u80a1\u80a1\u6578\uff08\u55ae\u4f4d\uff1a\u80a1\uff09"},"\u6bcf\u80a1\u53c3\u8003\u6de8\u503c":{"type":"string","description":"\u6bcf\u80a1\u53c3\u8003\u6de8\u503c"}}}}}}},"/opendata/t187ap06_X_basi":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u878d\u696d","description":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u878d\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u5229\u606f\u6de8\u6536\u76ca":{"type":"string","description":"\u5229\u606f\u6de8\u6536\u76ca"},"\u5229\u606f\u4ee5\u5916\u6de8\u640d\u76ca":{"type":"string","description":"\u5229\u606f\u4ee5\u5916\u6de8\u640d\u76ca"},"\u5446\u5e33\u8cbb\u7528\u3001\u627f\u8afe\u53ca\u4fdd\u8b49\u8cac\u4efb\u6e96\u5099\u63d0\u5b58":{"type":"string","description":"\u5446\u5e33\u8cbb\u7528\u3001\u627f\u8afe\u53ca\u4fdd\u8b49\u8cac\u4efb\u6e96\u5099\u63d0\u5b58"},"\u71df\u696d\u8cbb\u7528":{"type":"string","description":"\u71df\u696d\u8cbb\u7528"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09":{"type":"string","description":"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u7a05\u5f8c\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u7a05\u5f8c\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u505c\u696d\u55ae\u4f4d\u640d\u76ca":{"type":"string","description":"\u505c\u696d\u55ae\u4f4d\u640d\u76ca"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca"},"\u672c\u671f\u7a05\u5f8c\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u672c\u671f\u7a05\u5f8c\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\uff09":{"type":"string","description":"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\uff09"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d"},"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\uff08\u7a05\u5f8c\uff09":{"type":"string","description":"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\uff08\u7a05\u5f8c\uff09"},"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09":{"type":"string","description":"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09"}}}}}}},"/opendata/t187ap06_X_bd":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u8b49\u5238\u671f\u8ca8\u696d","description":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u8b49\u5238\u671f\u8ca8\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6536\u76ca":{"type":"string","description":"\u6536\u76ca"},"\u652f\u51fa\u53ca\u8cbb\u7528":{"type":"string","description":"\u652f\u51fa\u53ca\u8cbb\u7528"},"\u71df\u696d\u5229\u76ca":{"type":"string","description":"\u71df\u696d\u5229\u76ca"},"\u71df\u696d\u5916\u640d\u76ca":{"type":"string","description":"\u71df\u696d\u5916\u640d\u76ca"},"\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09":{"type":"string","description":"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u505c\u696d\u55ae\u4f4d\u640d\u76ca":{"type":"string","description":"\u505c\u696d\u55ae\u4f4d\u640d\u76ca"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca"},"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u672c\u671f\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\u6de8\u984d\uff09":{"type":"string","description":"\u672c\u671f\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\u6de8\u984d\uff09"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d"},"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d":{"type":"string","description":"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d"},"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09":{"type":"string","description":"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09"}}}}}}},"/opendata/t187ap06_X_ci":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4e00\u822c\u696d","description":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4e00\u822c\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u71df\u696d\u6536\u5165":{"type":"string","description":"\u71df\u696d\u6536\u5165"},"\u71df\u696d\u6210\u672c":{"type":"string","description":"\u71df\u696d\u6210\u672c"},"\u539f\u59cb\u8a8d\u5217\u751f\u7269\u8cc7\u7522\u53ca\u8fb2\u7522\u54c1\u4e4b\u5229\u76ca\uff08\u640d\u5931\uff09":{"type":"string","description":"\u539f\u59cb\u8a8d\u5217\u751f\u7269\u8cc7\u7522\u53ca\u8fb2\u7522\u54c1\u4e4b\u5229\u76ca\uff08\u640d\u5931\uff09"},"\u751f\u7269\u8cc7\u7522\u7576\u671f\u516c\u5141\u50f9\u503c\u6e1b\u51fa\u552e\u6210\u672c\u4e4b\u8b8a\u52d5\u5229\u76ca\uff08\u640d\u5931\uff09":{"type":"string","description":"\u751f\u7269\u8cc7\u7522\u7576\u671f\u516c\u5141\u50f9\u503c\u6e1b\u51fa\u552e\u6210\u672c\u4e4b\u8b8a\u52d5\u5229\u76ca\uff08\u640d\u5931\uff09"},"\u71df\u696d\u6bdb\u5229\uff08\u6bdb\u640d\uff09":{"type":"string","description":"\u71df\u696d\u6bdb\u5229\uff08\u6bdb\u640d\uff09"},"\u672a\u5be6\u73fe\u92b7\u8ca8\uff08\u640d\uff09\u76ca":{"type":"string","description":"\u672a\u5be6\u73fe\u92b7\u8ca8\uff08\u640d\uff09\u76ca"},"\u5df2\u5be6\u73fe\u92b7\u8ca8\uff08\u640d\uff09\u76ca":{"type":"string","description":"\u5df2\u5be6\u73fe\u92b7\u8ca8\uff08\u640d\uff09\u76ca"},"\u71df\u696d\u6bdb\u5229\uff08\u6bdb\u640d\uff09\u6de8\u984d":{"type":"string","description":"\u71df\u696d\u6bdb\u5229\uff08\u6bdb\u640d\uff09\u6de8\u984d"},"\u71df\u696d\u8cbb\u7528":{"type":"string","description":"\u71df\u696d\u8cbb\u7528"},"\u5176\u4ed6\u6536\u76ca\u53ca\u8cbb\u640d\u6de8\u984d":{"type":"string","description":"\u5176\u4ed6\u6536\u76ca\u53ca\u8cbb\u640d\u6de8\u984d"},"\u71df\u696d\u5229\u76ca\uff08\u640d\u5931\uff09":{"type":"string","description":"\u71df\u696d\u5229\u76ca\uff08\u640d\u5931\uff09"},"\u71df\u696d\u5916\u6536\u5165\u53ca\u652f\u51fa":{"type":"string","description":"\u71df\u696d\u5916\u6536\u5165\u53ca\u652f\u51fa"},"\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09":{"type":"string","description":"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u505c\u696d\u55ae\u4f4d\u640d\u76ca":{"type":"string","description":"\u505c\u696d\u55ae\u4f4d\u640d\u76ca"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca"},"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u6de8\u984d\uff09":{"type":"string","description":"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u6de8\u984d\uff09"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d"},"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d":{"type":"string","description":"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09":{"type":"string","description":"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09"}}}}}}},"/opendata/t187ap06_X_fh":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u63a7\u696d","description":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u91d1\u63a7\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u5229\u606f\u6de8\u6536\u76ca":{"type":"string","description":"\u5229\u606f\u6de8\u6536\u76ca"},"\u5229\u606f\u4ee5\u5916\u6de8\u6536\u76ca":{"type":"string","description":"\u5229\u606f\u4ee5\u5916\u6de8\u6536\u76ca"},"\u6de8\u6536\u76ca":{"type":"string","description":"\u6de8\u6536\u76ca"},"\u5446\u5e33\u8cbb\u7528\u3001\u627f\u8afe\u53ca\u4fdd\u8b49\u8cac\u4efb\u6e96\u5099\u63d0\u5b58":{"type":"string","description":"\u5446\u5e33\u8cbb\u7528\u3001\u627f\u8afe\u53ca\u4fdd\u8b49\u8cac\u4efb\u6e96\u5099\u63d0\u5b58"},"\u4fdd\u96aa\u8ca0\u50b5\u6e96\u5099\u6de8\u8b8a\u52d5":{"type":"string","description":"\u4fdd\u96aa\u8ca0\u50b5\u6e96\u5099\u6de8\u8b8a\u52d5"},"\u71df\u696d\u8cbb\u7528":{"type":"string","description":"\u71df\u696d\u8cbb\u7528"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u640d\u76ca":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u640d\u76ca"},"\u6240\u5f97\u7a05\uff08\u8cbb\u7528\uff09\u5229\u76ca":{"type":"string","description":"\u6240\u5f97\u7a05\uff08\u8cbb\u7528\uff09\u5229\u76ca"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u505c\u696d\u55ae\u4f4d\u640d\u76ca":{"type":"string","description":"\u505c\u696d\u55ae\u4f4d\u640d\u76ca"},"\u672c\u671f\u7a05\u5f8c\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u672c\u671f\u7a05\u5f8c\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u672c\u671f\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\u6de8\u984d\uff09":{"type":"string","description":"\u672c\u671f\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\u6de8\u984d\uff09"},"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d":{"type":"string","description":"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09":{"type":"string","description":"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09"}}}}}}},"/opendata/t187ap06_X_ins":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4fdd\u96aa\u696d","description":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u4fdd\u96aa\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u71df\u696d\u6536\u5165":{"type":"string","description":"\u71df\u696d\u6536\u5165"},"\u71df\u696d\u6210\u672c":{"type":"string","description":"\u71df\u696d\u6210\u672c"},"\u71df\u696d\u8cbb\u7528":{"type":"string","description":"\u71df\u696d\u8cbb\u7528"},"\u71df\u696d\u5229\u76ca\uff08\u640d\u5931\uff09":{"type":"string","description":"\u71df\u696d\u5229\u76ca\uff08\u640d\u5931\uff09"},"\u71df\u696d\u5916\u6536\u5165\u53ca\u652f\u51fa":{"type":"string","description":"\u71df\u696d\u5916\u6536\u5165\u53ca\u652f\u51fa"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u7d14\u76ca\uff08\u7d14\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u7d14\u76ca\uff08\u7d14\u640d\uff09"},"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09":{"type":"string","description":"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u7d14\u76ca\uff08\u7d14\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u7d14\u76ca\uff08\u7d14\u640d\uff09"},"\u505c\u696d\u55ae\u4f4d\u640d\u76ca":{"type":"string","description":"\u505c\u696d\u55ae\u4f4d\u640d\u76ca"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u640d\u76ca"},"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\u6de8\u984d\uff09":{"type":"string","description":"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca\uff08\u7a05\u5f8c\u6de8\u984d\uff09"},"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d":{"type":"string","description":"\u5408\u4f75\u524d\u975e\u5c6c\u5171\u540c\u63a7\u5236\u80a1\u6b0a\u7d9c\u5408\u640d\u76ca\u6de8\u984d"},"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d":{"type":"string","description":"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09":{"type":"string","description":"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09"}}}}}}},"/opendata/t187ap06_X_mim":{"get":{"tags":["\u8ca1\u52d9\u5831\u8868"],"summary":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u7570\u696d","description":"\u516c\u767c\u516c\u53f8\u7d9c\u5408\u640d\u76ca\u8868-\u7570\u696d","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u51fa\u8868\u65e5\u671f":{"type":"string","description":"\u51fa\u8868\u65e5\u671f"},"\u5e74\u5ea6":{"type":"string","description":"\u5e74\u5ea6"},"\u5b63\u5225":{"type":"string","description":"\u5b63\u5225"},"\u516c\u53f8\u4ee3\u865f":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"\u516c\u53f8\u540d\u7a31":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"\u6536\u5165":{"type":"string","description":"\u6536\u5165"},"\u652f\u51fa":{"type":"string","description":"\u652f\u51fa"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u7a05\u524d\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09":{"type":"string","description":"\u6240\u5f97\u7a05\u8cbb\u7528\uff08\u5229\u76ca\uff09"},"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u7e7c\u7e8c\u71df\u696d\u55ae\u4f4d\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u505c\u696d\u55ae\u4f4d\u640d\u76ca":{"type":"string","description":"\u505c\u696d\u55ae\u4f4d\u640d\u76ca"},"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09":{"type":"string","description":"\u672c\u671f\u6de8\u5229\uff08\u6de8\u640d\uff09"},"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca":{"type":"string","description":"\u5176\u4ed6\u7d9c\u5408\u640d\u76ca"},"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d":{"type":"string","description":"\u672c\u671f\u7d9c\u5408\u640d\u76ca\u7e3d\u984d"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u6de8\u5229\uff08\u6de8\u640d\uff09\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u6bcd\u516c\u53f8\u696d\u4e3b"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u5171\u540c\u63a7\u5236\u4e0b\u524d\u624b\u6b0a\u76ca"},"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca":{"type":"string","description":"\u7d9c\u5408\u640d\u76ca\u7e3d\u984d\u6b78\u5c6c\u65bc\u975e\u63a7\u5236\u6b0a\u76ca"},"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09":{"type":"string","description":"\u57fa\u672c\u6bcf\u80a1\u76c8\u9918\uff08\u5143\uff09"}}}}}}},"/news/eventList":{"get":{"tags":["\u5176\u4ed6"],"summary":"\u8b49\u4ea4\u6240\u6d3b\u52d5\u8a0a\u606f","description":"\u8b49\u4ea4\u6240\u6d3b\u52d5\u8a0a\u606f","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"No":{"type":"string","description":"No"},"Title":{"type":"string","description":"\u6d3b\u52d5\u4e3b\u984c"},"Details":{"type":"string","description":"\u8a73\u7d30\u5167\u5bb9"}}}}}}},"/company/applylistingForeign":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u5916\u570b\u516c\u53f8\u5411\u8b49\u4ea4\u6240\u7533\u8acb\u7b2c\u4e00\u4e0a\u5e02\u4e4b\u516c\u53f8","description":"\u5916\u570b\u516c\u53f8\u5411\u8b49\u4ea4\u6240\u7533\u8acb\u7b2c\u4e00\u4e0a\u5e02\u4e4b\u516c\u53f8","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"No":{"type":"string","description":"\u7d22\u5f15"},"Code":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"Company":{"type":"string","description":"\u516c\u53f8\u7c21\u7a31"},"ApplicationDate":{"type":"string","description":"\u7533\u8acb\u65e5\u671f"},"Chairman":{"type":"string","description":"\u8463\u4e8b\u9577"},"AmountofCapital ":{"type":"string","description":"\u7533\u8acb\u6642\u80a1\u672c(\u4edf\u5143)"},"CommitteeDate":{"type":"string","description":"\u4e0a\u5e02\u5be9\u8b70\u59d4\u54e1\u6703\u5be9\u8b70\u65e5\u671f"},"ApprovedDate":{"type":"string","description":"\u4ea4\u6613\u6240\u8463\u4e8b\u6703\u901a\u904e\u4e0a\u5e02\u65e5\u671f"},"AgreementDate":{"type":"string","description":"\u4e0a\u5e02\u5951\u7d04\u5831\u8acb\u4e3b\u7ba1\u6a5f\u95dc\u5099\u67e5(\u4e3b\u7ba1\u6a5f\u95dc\u6838\u51c6)\u65e5\u671f"},"ListingDate":{"type":"string","description":"\u80a1\u7968\u4e0a\u5e02\u8cb7\u8ce3\u65e5\u671f"},"Underwriter":{"type":"string","description":"\u627f\u92b7\u5546"},"UnderwritingPrice":{"type":"string","description":"\u627f\u92b7\u50f9"},"Note":{"type":"string","description":"\u5099\u8a3b"}}}}}}},"/company/newlisting":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u6700\u8fd1\u4e0a\u5e02\u516c\u53f8","description":"\u6700\u8fd1\u4e0a\u5e02\u516c\u53f8","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Code":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"Company":{"type":"string","description":"\u516c\u53f8\u7c21\u7a31"},"ApplicationDate":{"type":"string","description":"\u7533\u8acb\u65e5\u671f"},"Chairman":{"type":"string","description":"\u8463\u4e8b\u9577"},"AmountofCapital ":{"type":"string","description":"\u7533\u8acb\u6642\u80a1\u672c(\u4edf\u5143)"},"CommitteeDate":{"type":"string","description":"\u4e0a\u5e02\u5be9\u8b70\u59d4\u54e1\u6703\u5be9\u8b70\u65e5\u671f"},"ApprovedDate":{"type":"string","description":"\u4ea4\u6613\u6240\u8463\u4e8b\u6703\u901a\u904e\u4e0a\u5e02\u65e5\u671f"},"AgreementDate":{"type":"string","description":"\u4e0a\u5e02\u5951\u7d04\u5831\u8acb\u4e3b\u7ba1\u6a5f\u95dc\u5099\u67e5\u65e5\u671f"},"ListingDate":{"type":"string","description":"\u8b49\u671f\u5c40\u6838\u51c6\u4e0a\u5e02\u5951\u7d04\u65e5\u671f"},"ApprovedListingDate":{"type":"string","description":"\u80a1\u7968\u4e0a\u5e02\u8cb7\u8ce3\u65e5\u671f"},"Underwriter":{"type":"string","description":"\u627f\u92b7\u5546"},"UnderwritingPrice":{"type":"string","description":"\u627f\u92b7\u50f9"},"Note":{"type":"string","description":"\u5099\u8a3b"}}}}}}},"/company/suspendListingCsvAndHtml":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u7d42\u6b62\u4e0a\u5e02\u516c\u53f8","description":"\u7d42\u6b62\u4e0a\u5e02\u516c\u53f8","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"DelistingDate":{"type":"string","description":"\u7d42\u6b62\u4e0a\u5e02\u65e5\u671f"},"Company":{"type":"string","description":"\u516c\u53f8\u540d\u7a31"},"Code":{"type":"string","description":"\u4e0a\u5e02\u7de8\u865f"}}}}}}},"/brokerService/brokerList":{"get":{"tags":["\u5238\u5546\u8cc7\u6599"],"summary":"\u8b49\u5238\u5546\u7e3d\u516c\u53f8\u57fa\u672c\u8cc7\u6599","description":"\u8b49\u5238\u5546\u7e3d\u516c\u53f8\u57fa\u672c\u8cc7\u6599","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Code":{"type":"string","description":"\u8b49\u5238\u5546\u4ee3\u865f"},"Name":{"type":"string","description":"\u8b49\u5238\u5546\u540d\u7a31"},"EstablishmentDate":{"type":"string","description":"\u958b\u696d\u65e5"},"Address":{"type":"string","description":"\u5730\u5740"},"Telephone":{"type":"string","description":"\u96fb\u8a71"}}}}}}},"/news/newsList":{"get":{"tags":["\u5176\u4ed6"],"summary":"\u8b49\u4ea4\u6240\u65b0\u805e","description":"\u8b49\u4ea4\u6240\u65b0\u805e","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Title":{"type":"string","description":"\u6a19\u984c"},"Url":{"type":"string","description":"\u9023\u7d50"},"Date":{"type":"string","description":"\u65e5\u671f"}}}}}}},"/exchangeReport/BWIBBU_ALL":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u4e0a\u5e02\u500b\u80a1\u65e5\u672c\u76ca\u6bd4\u3001\u6b96\u5229\u7387\u53ca\u80a1\u50f9\u6de8\u503c\u6bd4\uff08\u4f9d\u4ee3\u78bc\u67e5\u8a62\uff09","description":"\u4e0a\u5e02\u500b\u80a1\u65e5\u672c\u76ca\u6bd4\u3001\u6b96\u5229\u7387\u53ca\u80a1\u50f9\u6de8\u503c\u6bd4\uff08\u4f9d\u4ee3\u78bc\u67e5\u8a62\uff09","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Date":{"type":"string","description":"\u65e5\u671f"},"Code":{"type":"string","description":"\u80a1\u7968\u4ee3\u865f"},"Name":{"type":"string","description":"\u80a1\u7968\u540d\u7a31"},"PEratio":{"type":"string","description":"\u672c\u76ca\u6bd4"},"DividendYield":{"type":"string","description":"\u6b96\u5229\u7387(%)"},"PBratio":{"type":"string","description":"\u80a1\u50f9\u6de8\u503c\u6bd4"}}}}}}},"/exchangeReport/STOCK_DAY_AVG_ALL":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u4e0a\u5e02\u500b\u80a1\u65e5\u6536\u76e4\u50f9\u53ca\u6708\u5e73\u5747\u50f9","description":"\u4e0a\u5e02\u500b\u80a1\u65e5\u6536\u76e4\u50f9\u53ca\u6708\u5e73\u5747\u50f9","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Date":{"type":"string","description":"\u65e5\u671f"},"Code":{"type":"string","description":"\u80a1\u7968\u4ee3\u865f"},"Name":{"type":"string","description":"\u80a1\u7968\u540d\u7a31"},"ClosingPrice":{"type":"string","description":"\u6536\u76e4\u50f9"},"MonthlyAveragePrice":{"type":"string","description":"\u6708\u5e73\u5747\u50f9"}}}}}}},"/exchangeReport/STOCK_DAY_ALL":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u4e0a\u5e02\u500b\u80a1\u65e5\u6210\u4ea4\u8cc7\u8a0a","description":"\u4e0a\u5e02\u500b\u80a1\u65e5\u6210\u4ea4\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Date":{"type":"string","description":"\u65e5\u671f"},"Code":{"type":"string","description":"\u8b49\u5238\u4ee3\u865f"},"Name":{"type":"string","description":"\u8b49\u5238\u540d\u7a31"},"TradeVolume":{"type":"string","description":"\u6210\u4ea4\u80a1\u6578"},"TradeValue":{"type":"string","description":"\u6210\u4ea4\u91d1\u984d"},"OpeningPrice":{"type":"string","description":"\u958b\u76e4\u50f9"},"HighestPrice":{"type":"string","description":"\u6700\u9ad8\u50f9"},"LowestPrice":{"type":"string","description":"\u6700\u4f4e\u50f9"},"ClosingPrice":{"type":"string","description":"\u6536\u76e4\u50f9"},"Change":{"type":"string","description":"\u6f32\u8dcc\u50f9\u5dee"},"Transaction":{"type":"string","description":"\u6210\u4ea4\u7b46\u6578"}}}}}}},"/exchangeReport/FMSRFK_ALL":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u4e0a\u5e02\u500b\u80a1\u6708\u6210\u4ea4\u8cc7\u8a0a","description":"\u4e0a\u5e02\u500b\u80a1\u6708\u6210\u4ea4\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Month":{"type":"string","description":"\u6708\u4efd"},"Code":{"type":"string","description":"\u80a1\u7968\u4ee3\u865f"},"Name":{"type":"string","description":"\u80a1\u7968\u540d\u7a31"},"HighestPrice":{"type":"string","description":"\u6700\u9ad8\u50f9"},"LowestPrice":{"type":"string","description":"\u6700\u4f4e\u50f9"},"WeightedAvgPriceAB":{"type":"string","description":"\u52a0\u6b0a(A/B)\u5e73\u5747\u50f9"},"Transaction":{"type":"string","description":"\u6210\u4ea4\u7b46\u6578"},"TradeValueA":{"type":"string","description":"\u6210\u4ea4\u91d1\u984d(A)"},"TradeVolumeB":{"type":"string","description":"\u6210\u4ea4\u80a1\u6578(B)"},"TurnoverRatio":{"type":"string","description":"\u9031\u8f49\u7387(%)"}}}}}}},"/exchangeReport/FMNPTK_ALL":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u4e0a\u5e02\u500b\u80a1\u5e74\u6210\u4ea4\u8cc7\u8a0a","description":"\u4e0a\u5e02\u500b\u80a1\u5e74\u6210\u4ea4\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Year":{"type":"string","description":"\u5e74\u5ea6"},"Code":{"type":"string","description":"\u80a1\u7968\u4ee3\u865f"},"Name":{"type":"string","description":"\u80a1\u7968\u540d\u7a31"},"TradeVolume":{"type":"string","description":"\u6210\u4ea4\u80a1\u6578"},"TradeValue":{"type":"string","description":"\u6210\u4ea4\u91d1\u984d"},"Transaction":{"type":"string","description":"\u6210\u4ea4\u7b46\u6578"},"HighestPrice":{"type":"string","description":"\u6700\u9ad8\u50f9"},"HDate":{"type":"string","description":"\u65e5\u671f"},"LowestPrice":{"type":"string","description":"\u6700\u4f4e\u50f9"},"LDate":{"type":"string","description":"\u65e5\u671f"},"AvgClosingPrice":{"type":"string","description":"\u6536\u76e4\u5e73\u5747\u50f9"}}}}}}},"/exchangeReport/MI_INDEX":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u6bcf\u65e5\u6536\u76e4\u884c\u60c5-\u5927\u76e4\u7d71\u8a08\u8cc7\u8a0a","description":"\u6bcf\u65e5\u6536\u76e4\u884c\u60c5-\u5927\u76e4\u7d71\u8a08\u8cc7\u8a0a","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"\u65e5\u671f":{"type":"string","description":"\u65e5\u671f"},"\u6307\u6578":{"type":"string","description":"\u6307\u6578"},"\u6536\u76e4\u6307\u6578":{"type":"string","description":"\u6536\u76e4\u6307\u6578"},"\u6f32\u8dcc":{"type":"string","description":"\u6f32\u8dcc(+/-)"},"\u6f32\u8dcc\u9ede\u6578":{"type":"string","description":"\u6f32\u8dcc\u9ede\u6578"},"\u6f32\u8dcc\u767e\u5206\u6bd4":{"type":"string","description":"\u6f32\u8dcc\u767e\u5206\u6bd4(%)"},"\u7279\u6b8a\u8655\u7406\u8a3b\u8a18":{"type":"string","description":"\u7279\u6b8a\u8655\u7406\u8a3b\u8a18"}}}}}}},"/company/applylistingLocal":{"get":{"tags":["\u516c\u53f8\u6cbb\u7406"],"summary":"\u7533\u8acb\u4e0a\u5e02\u4e4b\u672c\u570b\u516c\u53f8","description":"\u7533\u8acb\u4e0a\u5e02\u4e4b\u672c\u570b\u516c\u53f8","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"Code":{"type":"string","description":"\u516c\u53f8\u4ee3\u865f"},"Company":{"type":"string","description":"\u516c\u53f8\u7c21\u7a31"},"ApplicationDate":{"type":"string","description":"\u7533\u8acb\u65e5\u671f"},"Chairman":{"type":"string","description":"\u8463\u4e8b\u9577"},"AmountofCapital ":{"type":"string","description":"\u7533\u8acb\u6642\u80a1\u672c(\u4edf\u5143)"},"CommitteeDate":{"type":"string","description":"\u4e0a\u5e02\u5be9\u8b70\u59d4\u54e1\u6703\u5be9\u8b70\u65e5\u671f"},"ApprovedDate":{"type":"string","description":"\u4ea4\u6613\u6240\u8463\u4e8b\u6703\u901a\u904e\u4e0a\u5e02\u65e5\u671f"},"AgreementDate":{"type":"string","description":"\u4e0a\u5e02\u5951\u7d04\u5831\u8acb\u4e3b\u7ba1\u6a5f\u95dc\u5099\u67e5\u65e5\u671f"},"ListingDate":{"type":"string","description":"\u8b49\u671f\u5c40\u6838\u51c6\u4e0a\u5e02\u5951\u7d04\u65e5\u671f"},"ApprovedListingDate":{"type":"string","description":"\u80a1\u7968\u4e0a\u5e02\u8cb7\u8ce3\u65e5\u671f"},"Underwriter":{"type":"string","description":"\u627f\u92b7\u5546"},"UnderwritingPrice":{"type":"string","description":"\u627f\u92b7\u50f9"},"Note":{"type":"string","description":"\u5099\u8a3b"}}}}}}},"/fund/MI_QFIIS_cat":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u96c6\u4e2d\u5e02\u5834\u5916\u8cc7\u53ca\u9678\u8cc7\u6295\u8cc7\u985e\u80a1\u6301\u80a1\u6bd4\u7387\u8868","description":"\u96c6\u4e2d\u5e02\u5834\u5916\u8cc7\u53ca\u9678\u8cc7\u6295\u8cc7\u985e\u80a1\u6301\u80a1\u6bd4\u7387\u8868","produces":["application/json","text/csv"],"responses":{"200":{"description":"OK","schema":{"type":"object","properties":{"IndustryCat":{"type":"string","description":"\u7522\u696d\u5225"},"Numbers":{"type":"string","description":"\u5bb6\u6578"},"ShareNumber":{"type":"string","description":"\u7e3d\u767c\u884c\u80a1\u6578"},"ForeignMainlandAreaShare":{"type":"string","description":"\u50d1\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u6709\u7e3d\u80a1\u6578"},"Percentage":{"type":"string","description":"\u50d1\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u6bd4\u7387"}}}}}}},"/fund/MI_QFIIS_sort_20":{"get":{"tags":["\u8b49\u5238\u4ea4\u6613"],"summary":"\u96c6\u4e2d\u5e02\u5834\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u524d 20 \u540d\u5f59\u7e3d\u8868","description":"\u96c6\u4e2d\u5e02\u5834\u5916\u8cc7\u53ca\u9678\u8cc7\u6301\u80a1\u524d 20 \u540d\u5f59\u7e3d\u8868","produces":["application/json","tex
[...]
